@use '../login/login.scss';

// Specific overrides
.icon-header {
    width: 64px;
    height: 64px;
    background: rgba(139, 92, 246, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        color: #8b5cf6;
    }
}