@use '@angular/material' as mat;

@include mat.core();

$ai-mentimeter-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$ai-mentimeter-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$ai-mentimeter-warn: mat.m2-define-palette(mat.$m2-red-palette);

$ai-mentimeter-theme: mat.m2-define-light-theme((color: (primary: $ai-mentimeter-primary,
        accent: $ai-mentimeter-accent,
        warn: $ai-mentimeter-warn,
      )));

@include mat.all-component-themes($ai-mentimeter-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}